doctype html
html(lang='zh-cmn-Hans')
  head
    block metas
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='renderer' content='webkit|ie-comp|ie-stand')
      meta(name='screen-orientation' content='portrait')
      meta(name='x5-orientation' content='portrait')
      title= title
    block style
      style.
        [v-bloak] {
          display: none;
        }
  body
    block body
    block scripts
