body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3935 {
  position:absolute;
  left:0px;
  top:1px;
  width:1202px;
  height:51px;
}
#u3936 {
  position:absolute;
  left:2px;
  top:18px;
  width:1198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Old English Text MT Bold', 'Old English Text MT Normal', 'Old English Text MT';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u3937 {
  position:absolute;
  left:20px;
  top:0px;
  width:271px;
  height:46px;
  font-family:'Old English Text MT Bold', 'Old English Text MT Normal', 'Old English Text MT';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u3938 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3939 {
  position:absolute;
  left:1061px;
  top:9px;
  width:108px;
  height:37px;
}
#u3940 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3941 {
  position:absolute;
  left:1068px;
  top:15px;
  width:22px;
  height:22px;
}
#u3942 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u3943 {
  position:absolute;
  left:1142px;
  top:18px;
  width:14px;
  height:15px;
}
#u3944 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1249px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3945 {
  position:absolute;
  left:1px;
  top:61px;
  width:1249px;
  height:38px;
  text-align:left;
}
#u3946 {
  position:absolute;
  left:2px;
  top:11px;
  width:1245px;
  word-wrap:break-word;
}
#u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1243px;
  height:773px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3947 {
  position:absolute;
  left:7px;
  top:99px;
  width:1243px;
  height:773px;
  text-align:left;
}
#u3948 {
  position:absolute;
  left:2px;
  top:2px;
  width:1239px;
  word-wrap:break-word;
}
