@import "func.styl"
// 公共样式
.page
  &-title
    margin-bottom 20px
    taskWrapper 30px 20px 30px 20px
    .ivu-input
      height 35px
    .explain
      color #323232
      font-size 14px
    .typeIn
      margin-right 30px
      margin-left 4px
    .ivu-btn
      padding 6px 23px
      &:last-child
        margin-left 10px
        border-color #108EE9
        color #108EE9
        opacity .9
        &:hover
          border-color #57a3f3
          color #57a3f3
  &-minute
    taskWrapper()
  &-mission
    margin-top 20px
    &-bottom
      text-align:right
    .ivu-page
      margin-top 20px
      margin-right 20px
      text-align right
      display inline-block
      vertical-align bottom
    .ivu-table-header
      tr
        th
          tableDefault()
    .ivu-table-body
      tr
        td
          tableDefault()
.signInTab
  signBtn(#EBF8F2,#A7E1C4)
.signOutTab
  signBtn(#FFF5F4,#FABEB9)
