// 公共函数
taskWrapper(top = 20px,right = 20px,bottom = 20px,left = 20px)
  padding top right bottom left
  background-color #fff
tableDefault()
  .ivu-table-cell
    padding-right 10px
    padding-left 10px
// btn
signBtn(bg,bdg)
  display inline-block
  padding 4px 10px
  border 1px solid bdg
  border-radius 2px
  background bg
  color #646464
  opacity .7
taskOperateBtn(fontColor)
  display inline-block
  margin 0 5px
  padding 5px 18px
  border-radius 4px
  background #f2f2f2
  color fontColor
  font-size 16px
