.title {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  background-color: #323949;
  color: #ffffff;
}
aside {
  background-color: #ffffff;
  margin: 10px;
}
.test {
  &-area {
    width: 100%;
    button {
      margin-left: 20px;
    }
  }
  &-action {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
  }
}
.form {
  &-group {
    margin-top: 10px;
  }
}
.ivu-form-item {
  margin-bottom: 15px;
}
.showPanel {
  width: 428px;
  height: auto;
  background-color: mediumaquamarine;
}
.action {
  &-group {
    background-color: #ffffff;
    height: auto;
    width: 100%;
  }
}