doctype html
html(lang='zh-cmn-Hans')
    head
        block metas
            //- 移动端需自动添加移动端meta标签,同时将title提取成变量,方便修改
            meta(charset='UTF-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            //- iphone5 中width=device-width 会导致上下黑边
            meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, shrink-to-fit=no')
            //- 360浏览器选择渲染顺序
            meta(name='renderer', content='webkit|ie-comp|ie-stand')
            //-
                UC浏览器私有meta
                meta(name='screen-orientation', content='portrait')
            //-
               QQ 浏览器私有meta,portrait='竖屏',landscape='横屏'
               meta(name='x5-orientation', content='portrait')
            +title
        block style
            style.
                [v-bloak] {
                    display: none;
                }
    body
        block body
        block scripts
