body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2989 {
  position:absolute;
  left:0px;
  top:1px;
  width:1202px;
  height:51px;
}
#u2990 {
  position:absolute;
  left:2px;
  top:18px;
  width:1198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Old English Text MT Bold', 'Old English Text MT Normal', 'Old English Text MT';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u2991 {
  position:absolute;
  left:20px;
  top:0px;
  width:271px;
  height:46px;
  font-family:'Old English Text MT Bold', 'Old English Text MT Normal', 'Old English Text MT';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u2992 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u2993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2993 {
  position:absolute;
  left:1061px;
  top:9px;
  width:108px;
  height:37px;
}
#u2994 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u2995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2995 {
  position:absolute;
  left:1068px;
  top:15px;
  width:22px;
  height:22px;
}
#u2996 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2997 {
  position:absolute;
  left:1142px;
  top:18px;
  width:14px;
  height:15px;
}
#u2998 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:538px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3000 {
  position:absolute;
  left:7px;
  top:60px;
  width:262px;
  height:538px;
}
#u3001 {
  position:absolute;
  left:2px;
  top:261px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3002 {
  position:absolute;
  left:20px;
  top:86px;
  width:235px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u3003 {
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u3004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3004 {
  position:absolute;
  left:20px;
  top:240px;
  width:235px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u3005 {
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u3006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3006 {
  position:absolute;
  left:20px;
  top:125px;
  width:235px;
  height:30px;
  text-align:left;
}
#u3007 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  word-wrap:break-word;
}
#u3008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3008 {
  position:absolute;
  left:20px;
  top:154px;
  width:235px;
  height:30px;
  text-align:left;
}
#u3009 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  word-wrap:break-word;
}
#u3010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u3010 {
  position:absolute;
  left:28px;
  top:95px;
  width:23px;
  height:21px;
}
#u3011 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u3012 {
  position:absolute;
  left:28px;
  top:249px;
  width:24px;
  height:21px;
}
#u3013 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u3014 {
  position:absolute;
  left:49px;
  top:129px;
  width:23px;
  height:23px;
}
#u3015 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u3016 {
  position:absolute;
  left:49px;
  top:157px;
  width:23px;
  height:20px;
}
#u3017 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3018 {
  position:absolute;
  left:20px;
  top:182px;
  width:235px;
  height:30px;
  text-align:left;
}
#u3019 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  word-wrap:break-word;
}
#u3020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3020 {
  position:absolute;
  left:20px;
  top:211px;
  width:235px;
  height:30px;
  text-align:left;
}
#u3021 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  word-wrap:break-word;
}
#u3022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3022 {
  position:absolute;
  left:51px;
  top:187px;
  width:20px;
  height:20px;
}
#u3023 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3024 {
  position:absolute;
  left:50px;
  top:216px;
  width:18px;
  height:18px;
}
#u3025 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3026 {
  position:absolute;
  left:20px;
  top:280px;
  width:235px;
  height:30px;
  text-align:left;
}
#u3027 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  word-wrap:break-word;
}
#u3028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3028 {
  position:absolute;
  left:20px;
  top:309px;
  width:235px;
  height:30px;
  text-align:left;
}
#u3029 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  word-wrap:break-word;
}
#u3030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u3030 {
  position:absolute;
  left:49px;
  top:284px;
  width:23px;
  height:23px;
}
#u3031 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u3032 {
  position:absolute;
  left:49px;
  top:312px;
  width:23px;
  height:20px;
}
#u3033 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3034 {
  position:absolute;
  left:20px;
  top:339px;
  width:235px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u3035 {
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u3036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3036 {
  position:absolute;
  left:20px;
  top:379px;
  width:235px;
  height:30px;
  text-align:left;
}
#u3037 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  word-wrap:break-word;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u3038 {
  position:absolute;
  left:29px;
  top:349px;
  width:22px;
  height:26px;
}
#u3039 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u3040 {
  position:absolute;
  left:52px;
  top:385px;
  width:20px;
  height:19px;
}
#u3041 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3042 {
  position:absolute;
  left:288px;
  top:62px;
  width:914px;
  height:38px;
  text-align:left;
}
#u3043 {
  position:absolute;
  left:2px;
  top:11px;
  width:910px;
  word-wrap:break-word;
}
#u3044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3044 {
  position:absolute;
  left:288px;
  top:110px;
  width:914px;
  height:52px;
}
#u3045 {
  position:absolute;
  left:2px;
  top:18px;
  width:910px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3046 {
  position:absolute;
  left:653px;
  top:119px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3047 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u3048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3048 {
  position:absolute;
  left:765px;
  top:119px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3049 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u3050 {
  position:absolute;
  left:288px;
  top:176px;
  width:1102px;
  height:101px;
}
#u3051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u3051 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
  color:#FFFFFF;
}
#u3052 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u3053 {
  position:absolute;
  left:86px;
  top:0px;
  width:183px;
  height:36px;
  color:#FFFFFF;
}
#u3054 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u3055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:36px;
}
#u3055 {
  position:absolute;
  left:269px;
  top:0px;
  width:263px;
  height:36px;
  color:#FFFFFF;
}
#u3056 {
  position:absolute;
  left:2px;
  top:10px;
  width:259px;
  word-wrap:break-word;
}
#u3057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:36px;
}
#u3057 {
  position:absolute;
  left:532px;
  top:0px;
  width:275px;
  height:36px;
  color:#FFFFFF;
}
#u3058 {
  position:absolute;
  left:2px;
  top:10px;
  width:271px;
  word-wrap:break-word;
}
#u3059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:36px;
}
#u3059 {
  position:absolute;
  left:807px;
  top:0px;
  width:177px;
  height:36px;
  color:#FFFFFF;
}
#u3060 {
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u3061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u3061 {
  position:absolute;
  left:984px;
  top:0px;
  width:113px;
  height:36px;
  color:#FFFFFF;
}
#u3062 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u3063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u3063 {
  position:absolute;
  left:0px;
  top:36px;
  width:86px;
  height:30px;
}
#u3064 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u3065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u3065 {
  position:absolute;
  left:86px;
  top:36px;
  width:183px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
}
#u3066 {
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  word-wrap:break-word;
}
#u3067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u3067 {
  position:absolute;
  left:269px;
  top:36px;
  width:263px;
  height:30px;
}
#u3068 {
  position:absolute;
  left:2px;
  top:7px;
  width:259px;
  word-wrap:break-word;
}
#u3069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
}
#u3069 {
  position:absolute;
  left:532px;
  top:36px;
  width:275px;
  height:30px;
}
#u3070 {
  position:absolute;
  left:2px;
  top:7px;
  width:271px;
  word-wrap:break-word;
}
#u3071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u3071 {
  position:absolute;
  left:807px;
  top:36px;
  width:177px;
  height:30px;
}
#u3072 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u3073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3073 {
  position:absolute;
  left:984px;
  top:36px;
  width:113px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
}
#u3074 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u3075 {
  position:absolute;
  left:0px;
  top:66px;
  width:86px;
  height:30px;
}
#u3076 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u3077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u3077 {
  position:absolute;
  left:86px;
  top:66px;
  width:183px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
}
#u3078 {
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  word-wrap:break-word;
}
#u3079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u3079 {
  position:absolute;
  left:269px;
  top:66px;
  width:263px;
  height:30px;
}
#u3080 {
  position:absolute;
  left:2px;
  top:7px;
  width:259px;
  word-wrap:break-word;
}
#u3081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
}
#u3081 {
  position:absolute;
  left:532px;
  top:66px;
  width:275px;
  height:30px;
}
#u3082 {
  position:absolute;
  left:2px;
  top:7px;
  width:271px;
  word-wrap:break-word;
}
#u3083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u3083 {
  position:absolute;
  left:807px;
  top:66px;
  width:177px;
  height:30px;
}
#u3084 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u3085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3085 {
  position:absolute;
  left:984px;
  top:66px;
  width:113px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
}
#u3086 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3087 {
  position:absolute;
  left:329px;
  top:121px;
  width:300px;
  height:25px;
}
#u3087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
